.fixedRangeSliderWrapper {
  width: 90%;
  margin: auto;
  margin-top: 50px;
}

.rangeTrack {
  width: 98%;
  height: 4px;
  background: #bebec4;
  position: relative;
  border-radius: 2px;
}

.rangeHighlight {
  position: absolute;
  top: 0;
  bottom: 0;
  background: #2c2d3f;
  border-radius: 2px;
}

.markersContainer {
  position: absolute;
  top: -7px;
  width: 100%;
}

.rangeMarker {
  position: absolute;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateX(-30%);
}

.rangeMarker span {
  display: block;
  margin-top: 8px;
  font-size: 12px;
  white-space: nowrap;
}

.markerCircle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  transition: all 0.2s ease;
  position: relative;
}

.fixedRangeSliderWrapper .rangeHandle {
  position: absolute;
  top: -12px;
  width: 22px;
  height: 22px;
  background: #2c2d3f;
  border-radius: 50%;
  cursor: grab;
  transition: transform 0.2s;
  transform: translateX(-8%);
}

.rangeLabels {
  display: flex;
  justify-content: space-between;
  margin-top: 44px;
  font-size: 14px;
  font-weight: bold;
  color: #333;
}
