.range-slider-wrapper {
  width: 90%;
  margin: auto;
}

.range-labels {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.input {
  width: 80px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  text-align: center;
}

.range-track {
  width: 97%;
  height: 3px;
  position: relative;
  margin: 10px 0;
  background: #bebec4;
  border-radius: 4px;
  margin: 1%;
}

.range-highlight {
  position: absolute;
  top: 0;
  bottom: 0;
  background: #2c2d3f;
  border-radius: 4px;
}
.range-handle {
  position: absolute;
  top: -8px;
  width: var(--sizeBall, 22px);
  height: var(--sizeBall, 22px);
  background: #2c2d3f;
  border-radius: 50%;
  cursor: grab;
  transition: transform 0.2s;
}

.range-handle:hover {
  transform: scale(1.2);
}

.range-handle:focus {
  transform: scale(1.2);
}
